* {
    margin: 0px;
    padding: 0px;
    transition: all 0.7s ease 0s;
}

.header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-image: linear-gradient(#16edef, #688bf5);
    min-width: 100vw;
    padding: 60px 0px;
    border-radius: 0px 0px 100px 20px;
    transition: all 1s ease 0s;
    color: white;
    position: static;
    box-shadow: 2px 2px 10px black;
}

.header:hover {
    background-image: linear-gradient(#688bf5, #16edef);
    border-radius: 0px 0px 10px 50px;
    color: black;
}

.head {
    margin: 10px 10px;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-flow: column wrap;
    /* just */
    color: white;
}

.inputTag {
    border-radius: 10px;
    border: 3px white solid;
    padding: 10px 10px;
    background-color: white;
    transition: all 0.7s ease 0s;
}

.inputTag:hover {
    border: 1px black solid;
    background-color: white;
}

.item-head::before {
    min-width: 100vw;
    content: '';
    min-height: 110vh;
    position: absolute;
    top: 28vh;
    background-color: #d2efd8;
    z-index: -1;
}

.item-head {
    display: flex;
    justify-content: space-evenly;
}

.item-body {
    background-color: white;
    padding: 15px 23px;
    border-radius: 8px;
    color: black;
    position: relative;
    top: -37px;
    /* box-shadow: 1px 1px 2px turquoise; */
}

.item-body,
h2 {
    color: #688bf5;
}

.item-head-1 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px 10px;
}

.item-body-1 {
    background-color: whitesmoke;
    font-size: 1.4rem;
    margin: 10px 0px;
    padding: 19px 40px;
    min-width: 40vw;
    border-radius: 20px;
}

.item-head-2 {
    max-width: 70vw;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: auto;
    border-radius: 50px;
}

.item-body-2 {
    border: 1px solid;
    border-radius: 25px;
    padding: 25px 15px;
    background-color: white;
    margin: 10px;
    color: #688bf5;
}

.item-body-2:hover {
    box-shadow: 1px 1px 7px;
    border: none;
}

.item-body-1:hover {
    border-radius: 5px;
    box-shadow: 1px 1px 7px;
}

.foot-head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(159, 158, 255);
    padding: 10px 2px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    min-width: 100vw;
}

.foot-body {
    color: #65b7f5;
    font-size: 1.7rem;
    border: 1px solid;
    padding: 10px 19px;
    border-radius: 20px;
    color: whitesmoke;
    transition: all 0.2s ease 0s;
}

.foot-body:hover {
    font-size: 1.5rem;
    background-color: white;
    color: #2a98ef;
    border: none;
}


/*  contact us   */

.head-title {
    padding: 10px 5px 15px 18px;
    font-size: 1.5rem;
    background-color: gainsboro;
    border-radius: 0px 0px 70px 0px;
}

.form-body {
    display: flex;
    min-height: 90vh;
    flex-flow: column wrap;
    padding: 70px 30px 0px 27px;
    font-size: 1.7rem;
    position: relative;
    background-color: #2a98ef;
    top: -9vh;
    z-index: -1;
}

.form-input {
    padding: 10px 22px;
    margin: 6px 10px;
    border-radius: 11px;
    color: #2a98ef;
    border: 1px solid white;
}

.form-item {
    color: white;
}

.Join {
    display: none;
}


/* Report  */

.record {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: linear-gradient( rgb(55, 228, 219), rgb(103, 103, 251));
    min-height: 100vh;
    padding: 10px 10px 67px 10px;
}

.record h4,
p {
    padding: 10px 18px;
    min-width: 70vw;
    font-size: 1.6rem;
}

.record-item {
    background-image: linear-gradient( rgb(103, 103, 251), rgb(55, 228, 219));
    padding: 24px;
    border-radius: 17px;
}

.record-item th,
td {
    padding: 9px 4px;
}

.record-item th:hover,
td:hover {
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
}

.record {
    display: none;
}


/*      Profile Block  */

.profile {
    display: flex;
    flex-flow: column wrap;
    background-color: turquoise;
    min-height: 140vh;
}

.Join {
    display: none;
}

.record {
    display: none;
}

.profile {
    display: none;
}
.pro-de {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 88vw;
    border: 1px solid black;
    padding: 15px 46px;
    border-radius: 14px;
  }
  .pro {
    max-width: 47vw;
    border-radius: 100px;
    min-height: 25vh;
    margin: 19px 5px;
  }
  .item-body-1{
    min-width: 53vw;
  }