<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome admin</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        #btn {
            padding: 7px 40px !important;
        }
    </style>
</head>

<body>
    <h2 class="heading"> Enter Bank Details</h2>
    <form action="/create/banksData" class="back-gd" method="post">
        <div class="box-1">
            <label for="bank">Bank Name</label>
            <input type="text" placeholder="Bank" required name="bank" id="bank" />
        </div>
        <div class="box-1">
            <label for="branch">Branch Name</label>
            <input type="text" placeholder="Branch" required name="branch" id="branch" />
        </div>
        <div class="box-1">
            <label for="ifsc">IFSC Code</label>
            <input type="text" placeholder="IFSC Code" required name="IFSC" id="ifsc" />
        </div>
        <div class="box-1">
            <label for="account">Account No</label>
            <input type="number" placeholder="Account" required name="Account" id="acc" />
        </div>
        <div class="box-1">
            <label for="re-account">Re-Account No</label>
            <input type="password" placeholder="Re-Account" required name="Account" id="re-acc" />
        </div>
        <div class="box-1">
            <button type="submit" id="btn">Submit</button>
        </div>
    </form>
</body>
<script src="/javascripts/bank.js">
</script>

</html>