<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Netlify</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header class="header" id="header">
      <img src="/images/header.jpg" alt="" />
      <h1>Welcome Name</h1>
    </header>

    <form id="form-area" action="post">
      <input
        type="number"
        name="amount"
        id="amount"
        placeholder="Enter the amount and get CashBack"
      />
      <input id="recived" type="button" value="Recived" />
    </form>
    <section id="sec">
      <div class="sub-sec">
        <div class="block-box" id="sec-1" onclick="showValue(this)">Our Resource</div>
        <div class="block-box sec-1-1"  onclick="showValue(this)" id="sec-1-1"> our service</div>
      </div>
      <div class="sub-sec">
        <div class="block-box sec-2">30% cashback get 10 tranfer</div>
        <div class="block-box sec-2-1"> total Receivd amount </div>
      </div>
      <div class="sub-sec">
        <div class="block-box sec-3">contact us</div>
        <div class="block-box sec-3-1">our support</div>
      </div>
    </section>
    <section class="sec-value" id="sec-value">
      <div class="sub-sec" id="sec-1-text">
        <center><h1>Our Resource</h1></center>
        <div class="block-box">Netlify</div>
        <div class="block-box">Community Netlify</div>
        <div class="block-box">Contact us</div>
        <button onclick="back()">back</button>
      </div>
      <div class="sub-sec" id="sec-1-1-text">
        <center><h1>Our Service</h1></center>
        <div class="block-box">fast Recived</div>
        <div class="block-box">get extra cash back</div>
        <div class="block-box">10000+ Happy Customer</div>
        <button onclick="back()">back</button>
      </div>
    </section>
    <script src="/javascripts/home.js"> </script>
  </body>
</html>
