<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Home  -->
    <link rel="stylesheet" href="/css/Home page.css" />
    <style>
      .pro-de {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        max-width: 88vw;
        border: 1px solid black;
        padding: 15px 46px;
        border-radius: 14px;
      }
      .pro {
        max-width: 47vw;
        border-radius: 100px;
        min-height: 25vh;
        margin: 19px 5px;
      }
      .item-body-1{
        min-width: 53vw;
      }
    </style>
  </head>

  <body>
    <section class="home">
      <section class="header">
        <div class="head">
          <h4>Pay and Get</h4>
          <h1>Cash back</h1>
        </div>
        <div class="head">
          <form action="/" method="post">
            <input
              type="number"
              class="inputTag"
              name="rec"
              placeholder="Pay get cashback"
            />
            <input
              type="button"
              value="Submit"
              class="inputTag"
              id="payBtn"
              style="display:none"
            />
          </form>
        </div>
      </section>
      <section class="item-head">
        <div class="item-body">
          <h2>₹ Today</h2>
        </div>
        <div class="item-body">
          <h2>₹ CashBack</h2>
        </div>
      </section>
      <h2 style="color:white; text-align: center;">Service</h2>
      <section class="item-head-2">
        <div class="item-body-2">
          <i class="fa fa-book" aria-hidden="true"></i> Record
        </div>
        <div class="item-body-2" style="color:rosybrown">
          <i class="fa fa-money" aria-hidden="true"></i> List
        </div>
        <div class="item-body-2" style="color:rgb(233, 74, 74)">
          <i class="fa fa-fire" aria-hidden="true"></i> order
        </div>
        <div class="item-body-2">
          <i class="fa fa-calendar" aria-hidden="true"></i> Credit
        </div>
        <div class="item-body-2"><i class="fa fa-money"></i> Grow Business</div>
        <div class="item-body-2">
          <i class="fa fa-question" aria-hidden="true"></i> FAQ
        </div>
      </section>
      <section class="item-head-1">
        <div class="item-body-1">
          our service <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Loan Policy <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Contact us <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Setting <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
      </section>
    </section>
    <section class="Join">
      <div class="head-title">
        <h2>Best in Cashback</h2>
        <h4>Join us</h4>
        <p>make you partner and create your business world wide</p>
      </div>
      <form action="" class="form-body">
        <h3 class="form-item">Make you Cards</h3>
        <label class="form-item" for="name">Name</label>
        <input
          class="form-input"
          type="text"
          name="name"
          id="name"
          placeholder="Enter Name"
        />
        <label class="form-item" for="phone">Phone</label>
        <input
          class="form-input"
          type="number"
          name="phone"
          placeholder="Enter Phone"
          id="phone"
        />
        <label class="form-item" for="name">Email</label>
        <input
          class="form-input"
          type="email"
          name="email"
          id="email"
          placeholder="Enter Email"
        />
        <label class="form-item" for="address">Address</label>
        <input
          class="form-input"
          type="text"
          name="address"
          id="address"
          placeholder="Enter Address"
        />
        <label class="form-item" for="message">Income</label>
        <input
          class="form-input"
          type="number"
          name="message"
          id="message"
          placeholder="Enter Income Year"
        />
        <button class="form-input">Join us</button>
        <p style="font-size: 1rem; color:red">
          Note: Only 50 tranfer then you will join us
        </p>
      </form>
    </section>
    <section class="record">
      <h4>Yesterday CashBack Our Customer</h4>
      <p>Make payment win cashback</p>
      <table class="record-item">
        <tr>
          <th>Name</th>
          <th>Business</th>
          <th>Amount</th>
          <th>Cashback</th>
        </tr>
        <tr>
          <td>Amit</td>
          <td>Retail shop</td>
          <td>5000</td>
          <td>500</td>
        </tr>
        <tr>
          <td>syam lal</td>
          <td>Food</td>
          <td>4000</td>
          <td>400</td>
        </tr>
      </table>
      <section class="item-head-2">
        <div class="item-body-2">
          <i class="fa fa-book" aria-hidden="true"></i> Record
        </div>
        <div class="item-body-2" style="color:rosybrown">
          <i class="fa fa-money" aria-hidden="true"></i> List
        </div>
        <div class="item-body-2" style="color:rgb(233, 74, 74)">
          <i class="fa fa-fire" aria-hidden="true"></i> order
        </div>
        <div class="item-body-2">
          <i class="fa fa-calendar" aria-hidden="true"></i> Credit
        </div>
        <div class="item-body-2"><i class="fa fa-money"></i> Grow Business</div>
        <div class="item-body-2">
          <i class="fa fa-question" aria-hidden="true"></i> FAQ
        </div>
      </section>
      <h1>Winner Of Week</h1>
      <table class="record-item">
        <tr>
          <th>Name</th>
          <th>Business</th>
          <th>Amount</th>
          <th>cashback</th>
        </tr>
        <tr>
          <td>Mohit</td>
          <td>sport shop</td>
          <td>10000</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>vibhor</td>
          <td>pan shop</td>
          <td>2000</td>
          <td>200</td>
        </tr>
      </table>
      <section class="item-head-2">
        <div class="item-body-2">
          <i class="fa fa-bus" aria-hidden="true"></i> Bus
        </div>
        <div class="item-body-2" style="color:rosybrown">
          <i class="fa fa-car" aria-hidden="true"></i> Car
        </div>
        <div class="item-body-2" style="color:rgb(233, 74, 74)">
          <i class="fa fa-train" aria-hidden="true"></i> Train
        </div>
        <div class="item-body-2">
          <i class="fa fa-plane" aria-hidden="true"></i> Arrow-Plane
        </div>
        <div class="item-body-2"><i class="fa fa-ship"></i> ship</div>
        <div class="item-body-2">
          <i class="fa fa-question" aria-hidden="true"></i> FAQ
        </div>
      </section>
      <section class="item-head-2">
        <div class="item-body-2">
          <i class="fa fa-book" aria-hidden="true"></i> Record
        </div>
        <div class="item-body-2" style="color:rosybrown">
          <i class="fa fa-money" aria-hidden="true"></i> List
        </div>
        <div class="item-body-2" style="color:rgb(233, 74, 74)">
          <i class="fa fa-fire" aria-hidden="true"></i> order
        </div>
        <div class="item-body-2">
          <i class="fa fa-calendar" aria-hidden="true"></i> Credit
        </div>
        <div class="item-body-2"><i class="fa fa-money"></i> Grow Business</div>
        <div class="item-body-2">
          <i class="fa fa-question" aria-hidden="true"></i> FAQ
        </div>
      </section>
    </section>
    <section class="profile">
      <section class="item-head-1">
        <div class="pro-de">
          <img class="pro" src="/images/header.jpg" alt="" srcset="" />
          <h1>Ram</h1>
        </div>
        <div class="item-body-1">
          Cashback list <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">Profile <i class="fa fa-arrow-right"></i></div>
        <div class="item-body-1">
          Bank <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Payment setting <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Security Setting <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Payment reminders <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          saved address <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Chat Setting <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="item-body-1">
          Extra locker <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
      </section>
    </section>
    <footer class="foot-head">
      <div class="foot-body" onclick="view_page(1)">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div class="foot-body" onclick="view_page(2)">
        <i class="fa fa-comment"></i>
      </div>
      <div class="foot-body" onclick="view_page(3)">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="foot-body" onclick="view_page(4)">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </div>
    </footer>

    <script>
      const home = document.getElementsByClassName('home')
      const join = document.getElementsByClassName('Join')
      const record = document.getElementsByClassName('record')
      const profile = document.getElementsByClassName('profile')
      const view_page = params => {
        setTimeout(() => {
          if (params === 1) {
            home[0].style.display = 'block'
            join[0].style.display = 'none'
            record[0].style.display = 'none'
            profile[0].style.display = 'none'
          } else if (params === 2) {
            home[0].style.display = 'none'
            join[0].style.display = 'block'
            record[0].style.display = 'none'
            profile[0].style.display = 'none'
          } else if (params === 3) {
            home[0].style.display = 'none'
            join[0].style.display = 'none'
            record[0].style.display = 'block'
            profile[0].style.display = 'none'
          } else if (params === 4) {
            home[0].style.display = 'none'
            join[0].style.display = 'none'
            record[0].style.display = 'none'
            profile[0].style.display = 'block'
          }
        }, 1000)
      }
      view_page()
    </script>
  </body>
</html>
