<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Total Amount</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-info">
  <div class="container p-5">
    <h1 class="text-light">Loan Policy</h1>
    <!-- 1 -->
    <section class="border p-3" style="border-radius: 15px;">

      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark"> How do I become eligible for a loan? </summary>
        <p>
          Accept payments using Cashback QR code from all your customers for over a month. The more payments you accept,
          higher amount of loan you will get. You can get a loan of upto Rs.2,50,000 for upto 12 months.
        </p>
      </details>
      <!-- 2 -->
      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark">Where can I apply for a Loan?</summary>
        <p>
          You can check your Loan Eligibility on the Join section on Cashback App. Just enter your PAN Number and
          Pincode
          to check your eligibility. Once you are eligible, you need to fill an online application form.
        </p>
      </details>
      <!-- 3 -->
      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark"> What are the documents required to apply for a Loan?</summary>
        <p>
          You need to submit basic details along with KYC information - PAN Card, Proof of Address (any ID proof
          approved
          by Govt. of India) and a Selfie. You will also need to register for Netlify by linking your Debit Card or Net
          Banking details.
        </p>
      </details>
      <!-- 4 -->
      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark"> How much time will it take to process my loan application?</summary>
        <p>
          Once you have applied online, application processing takes 2-3 working days. Don't worry, we will keep you
          notified about the progress of your application.
        </p>
      </details>
      <!-- 5 -->
      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark">How do I repay back my Loan?</summary>
        <p>
          Repaying back Cashback Loans is super simple. We deduct Daily Installments (EDIs) from your Cashback QR
          Transactions before making settlement in your Bank A/c. This way there is very less burden for repayment from
          paying back a large installment in 1 shot. Also, we don't deduct EDIs on Sundays.
        </p>
      </details>
      <!-- 6 -->
      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark">How is my loan amount decided?</summary>
        <p>
          Basis payment acceptance done by you on Cashback QR Code. The more payments you accept, the higher will be the
          loan amount.
        </p>
      </details>
      <!-- 7 -->
      <details class="text-light my-4 font-weight-bold">
        <summary class="text-dark">What happens if I miss my repayment on the due date?</summary>
        <p>
          Your payment will get added to next day's EDI and will get deducted automatically from your QR Settlement.
        </p>
      </details>
    </section>

    <button class="btn btn-block btn-light my-5" onclick="window.history.go(-1); return false;"> Back </button>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>