<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Business Details</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      #btn {
        padding: 10px 0px;
        min-width: 40vw;
        background-color: aliceblue;
      }
      label {
        font-size: 1.1rem;
      }
    </style>
  </head>
  <body>
    <h2 class="heading">Create New Connection</h2>
    <div class="container">
      <form class="back-gd" action="/regs" method="post">
        <div class="box-1">
          <label for="name"> Business Name</label>
          <input
            type="text"
            placeholder="Enter The Business Name"
            required
            name="name"
            id="name"
          />
        </div>
        <div class="box-1">
          <label for="cate"> Category</label>
          <select name="cat" required name="category" id="cate">
            <option value="food"> Food </option>
            <option value="mobile"> Mobile </option>
            <option value="Repair"> Repair </option>
          </select>
        </div>
        <div class="box-1">
          <label for="mobile">Mobile no</label>
          <input
            type="number"
            placeholder="Enter the mobile number"
            required
            name="mobile"
            id="mobile"
          />
        </div>
        <div class="box-1">
          <label for="email-1">Email</label>
          <input
            type="email"
            placeholder="Enter the email"
            required
            name="email"
            id="email-1"
          />
        </div>
        <div class="box-1">
          <label for="address">Address</label>
          <input
          type="text"
            name="address"
            id="address"
            rows="5"
            placeholder="Enter the address"
          >
        </div>
        <div class="box-1">
          <label for="pin">Pin Code</label>
          <input
            type="number"
            placeholder="Enter the pin-code"
            required
            name="pinCode"
            id="pin"
          />
        </div>
        <div class="box-1">
          <button id="btn" href="">Next</button>
        </div>
      </form>
    </div>
  </body>
</html>
